<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
 <web-app>
	  <display-name>Archetype Created Web Application</display-name>
<!-- 	   <taglib>
		    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		    <taglib-location>/WEB-INF/c.tld</taglib-location>
  	</taglib> -->
  	
  	<filter>
	  	<filter-name>Validation</filter-name>
	  	<display-name>Validation</display-name>
	  	<filter-class>com.User.User_Management_System.Filter.Validation</filter-class>
	  </filter>
	  <filter-mapping>
	  	<filter-name>Validation</filter-name>
	  	<url-pattern>/UserRegistration</url-pattern>
	  </filter-mapping>
	 
		<filter>
	  	<filter-name>EncryptPwd</filter-name>
	  	<display-name>EncryptPwd</display-name>
	  	<filter-class>com.User.User_Management_System.Filter.EncryptPwd</filter-class>
	  </filter>
		<filter>
			<filter-name>CheckUserRole</filter-name>
			<display-name>CheckUserRole</display-name>
			<description></description>
			<filter-class>com.User.User_Management_System.Filter.CheckUserRole</filter-class>
		</filter>
		<filter>
			<filter-name>BackButtonPrevention</filter-name>
			<display-name>BackButtonPrevention</display-name>
			<description></description>
			<filter-class>com.User.User_Management_System.Filter.BackButtonPrevention</filter-class>
		</filter>
	  <filter-mapping>
	  	<filter-name>EncryptPwd</filter-name>
	  	<url-pattern>/UserRegistration</url-pattern>
	  </filter-mapping>
	   <filter-mapping>
	  	<filter-name>EncryptPwd</filter-name>
	  	<url-pattern>/LoginServlet</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	  	<filter-name>EncryptPwd</filter-name>
	  	<url-pattern>/ResetPassword</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	  	<filter-name>CheckUserRole</filter-name>
	  	<url-pattern>/AdminWork</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	  	<filter-name>CheckUserRole</filter-name>
	  	<url-pattern>/adminDashBoard.jsp</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	  	<filter-name>BackButtonPrevention</filter-name>
	  	<url-pattern>/AdminWork</url-pattern>
	  </filter-mapping>
	   <filter>
	  	<filter-name>EditPageValidation</filter-name>
	  	<display-name>EditPageValidation</display-name>
	  	<filter-class>com.User.User_Management_System.Filter.EditPageValidation</filter-class>
	  </filter>
	  <filter-mapping>
	  	<filter-name>BackButtonPrevention</filter-name>
	  	<url-pattern>/UserDetails</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	  	<filter-name>BackButtonPrevention</filter-name>
	  	<url-pattern>/userDashBoard.jsp</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	  	<filter-name>BackButtonPrevention</filter-name>
	  	<url-pattern>/EditServlet</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	  	<filter-name>BackButtonPrevention</filter-name>
	  	<url-pattern>/UserData</url-pattern>
	  </filter-mapping>
	   <filter-mapping>
	  	<filter-name>EditPageValidation</filter-name>
	  	<url-pattern>/EditServlet</url-pattern>
	  </filter-mapping>
	  <servlet>
	  	<servlet-name>UserRegistration</servlet-name>
	  	<display-name>UserRegistration</display-name>
	  	<description></description>
	  	<servlet-class>com.User.User_Management_System.Controller.UserRegistration</servlet-class>
	  </servlet>
	 <servlet>
	  	<servlet-name>LoginServlet</servlet-name>
	  	<display-name>LoginServlet</display-name>
	  	<description></description>
	  	<servlet-class>com.User.User_Management_System.Controller.LoginServlet</servlet-class>
	  </servlet>
	 <servlet>
	 	<servlet-name>DeleteUser</servlet-name>
	 	<display-name>DeleteUser</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.DeleteUser</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>LogOutServlet</servlet-name>
	 	<display-name>LogOutServlet</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.LogOutServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>RemoveImage</servlet-name>
	 	<display-name>RemoveImage</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.RemoveImage</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>ForgotPwd</servlet-name>
	 	<display-name>ForgotPwd</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.ForgotPwd</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>ResetPassword</servlet-name>
	 	<display-name>ResetPassword</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.ResetPassword</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>AdminWork</servlet-name>
	 	<display-name>AdminWork</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.AdminWork</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>EditServlet</servlet-name>
	 	<display-name>EditServlet</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.EditServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>UserData</servlet-name>
	 	<display-name>UserData</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.UserData</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>UserDetails</servlet-name>
	 	<display-name>UserDetails</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.UserDetails</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>CheckUserExist</servlet-name>
	 	<display-name>CheckUserExist</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.CheckUserExist</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>EditPageValidation</servlet-name>
	 	<display-name>EditPageValidation</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.EditPageValidation</servlet-class>
	 </servlet>
	   <servlet-mapping>
	   	<servlet-name>UserRegistration</servlet-name>
	   	<url-pattern>/UserRegistration</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>LoginServlet</servlet-name>
	   	<url-pattern>/LoginServlet</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>DeleteUser</servlet-name>
	   	<url-pattern>/DeleteUser</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>LogOutServlet</servlet-name>
	   	<url-pattern>/LogOutServlet</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>RemoveImage</servlet-name>
	   	<url-pattern>/RemoveImage</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>ForgotPwd</servlet-name>
	   	<url-pattern>/ForgotPwd</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>ResetPassword</servlet-name>
	   	<url-pattern>/ResetPassword</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>AdminWork</servlet-name>
	   	<url-pattern>/AdminWork</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>EditServlet</servlet-name>
	   	<url-pattern>/EditServlet</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>UserData</servlet-name>
	   	<url-pattern>/UserData</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>UserDetails</servlet-name>
	   	<url-pattern>/UserDetails</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>CheckUserExist</servlet-name>
	   	<url-pattern>/CheckUserExist</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>EditPageValidation</servlet-name>
	   	<url-pattern>/EditPageValidation</url-pattern>
	   </servlet-mapping>
	   </web-app>