<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	  <display-name>Archetype Created Web Application</display-name>
	   <taglib>
		    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		    <taglib-location>/WEB-INF/c.tld</taglib-location>
  	</taglib>
  	<!--  
	  <taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>tld/c-1_0.tld</taglib-location>
	  </taglib>-->
		<filter>
	  	<filter-name>EncryptPwd</filter-name>
	  	<display-name>EncryptPwd</display-name>
	  	<filter-class>com.User.User_Management_System.Filter.EncryptPwd</filter-class>
	  </filter>
	  <filter-mapping>
	  	<filter-name>EncryptPwd</filter-name>
	  	<url-pattern>/UserRegistration</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	  	<filter-name>EncryptPwd</filter-name>
	  	<url-pattern>/ValidateServlet</url-pattern>
	  </filter-mapping>
	   <filter-mapping>
	  	<filter-name>EncryptPwd</filter-name>
	  	<url-pattern>/LoginServlet</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	  	<filter-name>EncryptPwd</filter-name>
	  	<url-pattern>/ResetPassword</url-pattern>
	  </filter-mapping>
	  <servlet>
	  	<servlet-name>ValidateServlet</servlet-name>
	  	<display-name>ValidateServlet</display-name>
	  	<description></description>
	  	<servlet-class>com.User.User_Management_System.Controller.ValidateServlet</servlet-class>
	  </servlet>
	  <servlet>
	  	<servlet-name>UserRegistration</servlet-name>
	  	<display-name>UserRegistration</display-name>
	  	<description></description>
	  	<servlet-class>com.User.User_Management_System.Controller.UserRegistration</servlet-class>
	  </servlet>
	 <servlet>
	  	<servlet-name>LoginServlet</servlet-name>
	  	<display-name>LoginServlet</display-name>
	  	<description></description>
	  	<servlet-class>com.User.User_Management_System.Controller.LoginServlet</servlet-class>
	  </servlet>
	 <servlet>
	 	<servlet-name>ShowUserProfile</servlet-name>
	 	<display-name>ShowUserProfile</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.ShowUserProfile</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>DeleteUser</servlet-name>
	 	<display-name>DeleteUser</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.DeleteUser</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>LogOutServlet</servlet-name>
	 	<display-name>LogOutServlet</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.LogOutServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>RemoveImage</servlet-name>
	 	<display-name>RemoveImage</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.RemoveImage</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>ForgotPwd</servlet-name>
	 	<display-name>ForgotPwd</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.ForgotPwd</servlet-class>
	 </servlet>
	 <servlet>
	 	<servlet-name>ResetPassword</servlet-name>
	 	<display-name>ResetPassword</display-name>
	 	<description></description>
	 	<servlet-class>com.User.User_Management_System.Controller.ResetPassword</servlet-class>
	 </servlet>
	   <servlet-mapping>
	  	<servlet-name>ValidateServlet</servlet-name>
	  	<url-pattern>/ValidateServlet</url-pattern>
	  </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>UserRegistration</servlet-name>
	   	<url-pattern>/UserRegistration</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>LoginServlet</servlet-name>
	   	<url-pattern>/LoginServlet</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>ShowUserProfile</servlet-name>
	   	<url-pattern>/ShowUserProfile</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>DeleteUser</servlet-name>
	   	<url-pattern>/DeleteUser</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>LogOutServlet</servlet-name>
	   	<url-pattern>/LogOutServlet</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>RemoveImage</servlet-name>
	   	<url-pattern>/RemoveImage</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>ForgotPwd</servlet-name>
	   	<url-pattern>/ForgotPwd</url-pattern>
	   </servlet-mapping>
	   <servlet-mapping>
	   	<servlet-name>ResetPassword</servlet-name>
	   	<url-pattern>/ResetPassword</url-pattern>
	   </servlet-mapping>
</web-app>